/*!
The NextGen (or "Mirai") theme variant is made for the Microsoft Foundry (formerly Azure AI Foundry)
Key differences from default Fluent:
- Colors
  - Neutral colors are more flat
  - Brand color is an Indigo/Purple
  - Minimal inputs are darker than panel background
- Fonts are Aptos and Aptos Mono
- Buttons are `.rounded-full` by default
- Inputs are `.type-minimal` by default
- There is a new tab.type-elevated style
- Tables are wrapped in a rounded border
 */

/* TODO: update to ESM raw? */
@import "../font-face/font-aptos.css";

/* @custom-variant dark (.next-gen.dark, .next-gen.dark *, html:has(body.next-gen.dark)); */
@layer theme {
  .next-gen,
  html:has(body.next-gen),
  .next-gen.dark,
  html:has(body.next-gen.dark) {
    /* Next Gen Brand */
    --color-purple-50:  oklch(91.844% 0.04553 305.191);
    --color-purple-100: oklch(88.759% 0.06563 308.065);
    --color-purple-200: oklch(81.956% 0.09803 302.449);
    --color-purple-300: oklch(74.568% 0.13802 300.542);
    --color-purple-400: oklch(66.512% 0.18126 297.493);
    --color-purple-500: oklch(57.578% 0.22309 292.287); /* Brand #8251EE */
    --color-purple-600: oklch(45.694% 0.16501 293.759);
    --color-purple-700: oklch(37.714% 0.12382 294.937);
    --color-purple-800: oklch(28.229% 0.07876 296.776);
    --color-purple-900: oklch(21.059% 0.03965 299.085);
    --color-purple-950: oklch(9.276% 0.01729 297.522);

    --font-sans: "Aptos", system-ui, Roboto, Helvetica Neue, ui-sans-serif,
      sans-serif;
    --font-mono: "Aptos Mono", "Cascadia Code", "Source Code Pro", Menlo,
      Consolas, "DejaVu Sans Mono", ui-monospace, monospace;
    --font-serif: Georgia, Cambria, ui-serif, serif;
    --font-numeric: var(--font-mono);
  }

  .next-gen,
  html:has(body.next-gen) {
    --color-card: var(--color-white);
    --color-panel: var(--color-white); /*Page*/
    --color-page: var(--color-neutral-100); /*Shell*/

    --color-border: var(--color-neutral-300); /*Stroke 1*/
    --color-outline: var(--color-neutral-400);

    --color-muted: var(--color-neutral-500);
    --color-body: var(--color-neutral-700);
    --color-heading: var(--color-neutral-900);

    --color-link: var(--color-purple-600);
    --color-brand: var(--color-purple-600);
    --color-contrast-brand: white;

    --color-input: var(--color-white); /*Control*/
    --color-selected: oklch(0 0 0 / 0.04); /*Shell-transparent*/
    --color-hover: oklch(0 0 0 / 0.065);
    --color-active: oklch(0 0 0 / 0.12);
  }

  .next-gen.dark,
  html:has(body.next-gen.dark) {
    --color-card: var(--color-neutral-900);
    --color-panel: var(--color-neutral-900);
    --color-page: var(--color-neutral-950);

    --color-border: var(--color-neutral-700);
    --color-outline: var(--color-neutral-500);

    --color-muted: var(--color-neutral-500);
    --color-body: var(--color-neutral-300);
    --color-heading: var(--color-white);

    --color-link: var(--color-purple-200);
    --color-brand: var(--color-purple-500);
    --color-contrast-brand: white;

    --color-input: var(--color-neutral-900);
    --color-selected: oklch(0 0 0 / 0.55);
    --color-hover: oklch(100% 0 0 / 0.05);
    --color-active: oklch(0 0 0 / 0.8);
  }
}

@layer components {
  .next-gen,
  html:has(body.next-gen),
  .next-gen.dark,
  html:has(body.next-gen.dark) {
    /* button */
    button:where(:not(.tab)),
    input[type="button"],
    input[type="submit"],
    input[type="reset"],
    a.btn,
    select.btn,
    .btn,
    ::-webkit-file-upload-button {
      --rounded-default: var(--radius-4xl);
      .menu &, ::picker(select) {
        /* undo border-radius on menu buttons */
        --rounded-default: var(--radius-md);
      }
    }
    ::picker(select) {
      /* undo border-radius on menu buttons */
      --rounded-default: var(--radius-md);
    }

    /* inputs */
    input:where(:not([type])),
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="search"],
    input[type="color"],
    input[type="url"],
    /* input[type="file"], */
    input[type="tel"],
    select:where(:not(.btn)),
    textarea,
    .input {
      &:not([class*="type-"]),
      &.type-subtle {
        --_color-border: transparent;
        --_color-border-bottom: transparent;
        --_color-background: var(--color-selected);
        --_color-border-focus: var(--color-brand);
      }

      &::placeholder {
        color: var(--color-muted);
        opacity: 1;
      }
    }

    .tabs.type-elevated {
      gap: 2px;
      padding: 2px;
      border-radius: calc(var(--rounded-default) + 2px);
      background-color: var(--color-selected);

      .tab {
        padding-inline: var(--p-default);
        min-height: var(--h-default);

        &::after,
        &::before {
          content: unset;
        }

        &:not(:disabled):not(.disabled):not(:has(input[type="radio"]:disabled))
        /* :not(.selected):not(:has(input[type="radio"]:checked))  */ {
          &:hover {
            background-color: oklch(
              from var(--color-hover) l c h / calc(alpha * 2)
            );
          }

          &:active {
            background-color: var(--color-active);
          }
        }

        &.selected,
        &:has(input[type="radio"]:checked) {
          background-color: var(--color-hover);
        }
      }
    }

    table {
      --_border-radius: var(--radius-lg);
      --_border-color: var(--color-border);

      /* these are !important because LLMs try to override them */
      border-collapse: separate !important;
      border-spacing: 0 !important;

      border-radius: var(--_border-radius);
      border: solid 1px var(--_border-color);
      width: 100%;

      th,
      td {
        text-align: left;
        border-bottom: solid 1px var(--_border-color);
        padding: 12px 2px 12px 16px;
        &:last-child {
          padding-right: 16px;
        }
      }

      th {
        background-color: var(--color-selected);
        padding: 8px 2px 8px 16px;
      }

      > :last-child tr:last-child {
        & th,
        & td {
          border-bottom: none;
          &:first-child {
            border-bottom-left-radius: var(--_border-radius);
          }
          &:last-child {
            border-bottom-right-radius: var(--_border-radius);
          }
        }
      }

      > :first-child tr:first-child {
        & th,
        & td {
          &:first-child {
            border-top-left-radius: var(--_border-radius);
          }
          &:last-child {
            border-top-right-radius: var(--_border-radius);
          }
        }
      }
    }
  }
}
