:root {
  --fontSize1: 40px;
  --fontSize2: 28px;
  --fontSize3: 20px;
  --fontSize4: 16px;
  --fontSize5: 14px;
  --fontSize6: 12px;
  --fontSize7: 10px;

  --fontFamilySans: "Aptos", "Segoe UI", "Segoe UI Web (West European)",
    -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  --fontFamilyMono: "Monaspace Neon", Consolas, Menlo, "Courier New", Courier,
    monospace;
  /* smaller font size optically aligns the x-height of Monaspace Neon and Aptos */
  --fontFamilyMonoScale: 0.9em;

  --fontWeightRegular: 400;
  --fontWeightBold: 600;

  --borderRadiusNone: 0;
  --borderRadiusSmall: 4px;
  --borderRadiusMedium: 8px;
  --borderRadiusLarge: 12px;
  --borderRadiusXLarge: 16px;
  --borderRadiusCircular: 10000px;

  --colorBrandBase: #0091ff;

  --durationRest: 100ms;
  --durationHover: 150ms;
  --durationActive: 50ms;

  --colorShadowAmbient: rgba(0, 0, 0, 0.24);
  --colorShadowKey: rgba(0, 0, 0, 0.28);

  --shadow2:  0 0 2px var(--colorShadowAmbient), 0 1px 2px   var(--colorShadowKey);
  --shadow4:  0 0 2px var(--colorShadowAmbient), 0 2px 4px   var(--colorShadowKey);
  --shadow8:  0 0 2px var(--colorShadowAmbient), 0 4px 8px   var(--colorShadowKey);
  --shadow16: 0 0 2px var(--colorShadowAmbient), 0 8px 16px  var(--colorShadowKey);
  --shadow28: 0 0 8px var(--colorShadowAmbient), 0 14px 28px var(--colorShadowKey);
  --shadow64: 0 0 8px var(--colorShadowAmbient), 0 32px 64px var(--colorShadowKey);

  --colorBackgroundOverlay: rgba(0, 0, 0, 0.5);

  --opacityDisabled: 0.5;
}

.size-small {
  --sizeHeight: 24px;
  --sizeFont: var(--fontSize6);
  --sizePadding: 8px;
  --sizeIcon: 16px
}
:root,
.size-medium {
  --sizeHeight: 32px;
  --sizeFont: var(--fontSize5);
  --sizePadding: 12px;
  --sizeIcon: 16px
}
.size-large {
  --sizeHeight: 40px;
  --sizeFont: var(--fontSize4);
  --sizePadding: 16px;
  --sizeIcon: 20px
}

.shape-square {
  --borderRadius: var(--borderRadiusSmall);
}
:root,
.shape-rounded {
  --borderRadius: var(--borderRadiusMedium);
}
.shape-circular {
  --borderRadius: var(--borderRadiusCircular);
}

:root,
.theme-dark {
  color-scheme: dark;

  --colorBackground1: #1f1f1f;
  --colorBackground2: #141414;
  --colorBackground3: #0a0a0a;
  --colorBackground4: #000000;

  --colorBorder1: #666666;
  --colorBorder2: var(--colorBackground3);

  --colorText1: #FFFFFF;
  --colorText2: #D6D6D6;
  --colorText3: #999999;
  --colorText4: #5C5C5C;

  &,
  .appearance-outline {
    --interactiveRest: var(--colorBackground1);
    --interactiveHover: #3d3d3d;
    --interactiveActive: #141414;
  }
  .appearance-primary {
    --interactiveRest: #0091ff;
    --interactiveHover: #0077cc;
    --interactiveActive: #005599;
  }
  .appearance-subtle {
    --interactiveRest: var(--colorBackground2);
    --interactiveHover: #3d3d3d;
    --interactiveActive: #141414;
  }
  .appearance-transparent {
    --interactiveRest: transparent;
    --interactiveHover: #3d3d3d;
    --interactiveActive: #141414;
  }
}

.theme-light {
  color-scheme: light;

  --colorBackground1: #ffffff;
  --colorBackground2: #f5f5f5;
  --colorBackground3: #f0f0f0;
  --colorBackground4: #e6e6e6;

  --colorBorder1: #d1d1d1;
  --colorBorder2: var(--colorBackground3);

  --colorText1: #000000;
  --colorText2: #424242;
  --colorText3: #707070;
  --colorText4: #bdbdbd;
}
