.tabs {
  display: flex;
  gap: calc(var(--p-default) * 1.5);
  flex-direction: row;

  &.vertical {
    flex-direction: column;
  }

  &.type-subtle,
  &.vertical {
    gap: 2px;
  }

}

/*
.tabs:not(.vertical) .tab {
  --_negative-margin: calc(var(--p-default) * -1);
  &:first-child {
    margin-left: var(--_negative-margin);
  }
  &:last-child {
    margin-right: var(--_negative-margin);
  }
}
*/

.tab {
  --_size-tab-underline: 3px;
  --_color-tab-underline-hover: var(--color-border);
  --_color-tab-underline-active: var(--color-brand);
  --_duration-tab-underline: 0.1s;

  cursor: pointer;
  appearance: none;
  line-height: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border-radius: var(--rounded-default);
  font-size: var(--text-default);
  min-height: calc(var(--h-default) * 1.5);
  padding: 2px 0;

  /* &:not(.type-subtle):not(.vertical) {
    padding-inline: 0;
    gap: var(--p-default);
    &:after,
    &:before {
      inset: auto 0 0 0;
    }
  } */

  .type-subtle &,
  &.type-subtle,
  .vertical & {
    padding-inline: var(--p-default);
    &:after,
    &:before {
      inset: auto 0 0 0;
      inset: auto var(--p-default) 0 var(--p-default);
    }
  }

  transition: background-color var(--duration-rest) linear;

  position: relative;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 999px;
    inset: auto 0 0 0;
    height: var(--_size-tab-underline);
    transform-origin: center;
    transition: transform var(--_duration-tab-underline) ease-out, opacity var(--duration-rest) linear;
  }

  &:before {
    background-color: var(--_color-tab-underline-hover);
    opacity: 0;
  }

  &:after {
    background-color: var(--_color-tab-underline-active);
    transform: scaleX(0);
  }

  .vertical & {
    min-height: var(--h-default);

    --_size-tab-underline-padding: calc((var(--h-default) - var(--h-icon)) / 2);
    &:after,
    &:before {
      inset: var(--_size-tab-underline-padding) auto var(--_size-tab-underline-padding) 0;
      height: auto;
      width: var(--_size-tab-underline);
    }

    &:after {
      transform: scaleY(0);
    }
  }

  .vertical &:not(.icon-only),
  .vertical:not(.icon-only) & {
    justify-content: start;
  }

  &.icon-only,
  .icon-only & {
    padding: 0;
    width: var(--h-default);
    height: var(--h-default);
    flex: 0 0 auto;
  }

  &:not(:disabled):not(.disabled):not(:has(input[type="radio"]:disabled)) {
    &:hover {
      transition-duration: var(--duration-hover);
      color: var(--color-heading);

      .type-subtle & {
        background-color: var(--color-hover);
      }

      &:before {
        opacity: 1;
      }
    }

    &:active {
      transition-duration: var(--duration-hover);
      color: var(--color-heading);

      .type-subtle & {
        background-color: var(--color-active);
      }
    }
  }

  &.selected,
  &:has(input[type="radio"]:checked) {
    font-weight: var(--font-heavyweight);
    color: var(--color-heading);

    .type-subtle & {
      background-color: var(--color-selected);
    }

    &:after {
      transform: scale(1);
    }
  }

  &:disabled,
  &.disabled,
  &:has(input[type="radio"]:disabled) {
    cursor: not-allowed;
    opacity: var(--opacity-disabled);

    &:before {
      opacity: 0;
    }
  }
}

a.tab {
  text-decoration: none;
  color: inherit;
}

button.tab {
  background: none;
  border: none;
}
