details {
  --_timingOpen: 0.2s;
  --_timingClose: 0.07s;
  --_sizeMarker: 20px;

  summary {
    display: flex;
    align-items: center;
    gap: 8px;

    cursor: pointer;

    &::marker {
      content: "";
    }

    list-style: none;
    &:before {
      content: var(--iconChevronRight);
      height: var(--_sizeMarker);
      width:  var(--_sizeMarker);
      display: inline-block;
      transform: rotate(0deg);
      transform-origin: center;
      transition: transform var(--_timingOpen) ease-in-out;
    }
  }

  &[open] {
    summary {
      &:before {
        transform: rotate(90deg);
      }
    }
  }

  &::details-content {
    opacity: 0.2;
    transform: translateY(-4px);
    transition-property: opacity, transform, content-visibility, max-height;
    transition-duration: var(--_timingClose);
    transition-timing-function: ease-out;
    transition-behavior: allow-discrete;
  }
  
  &[open]::details-content {
    opacity: 1;
    transform: translateY(0);
    transition-duration: var(--_timingOpen);
    transition-timing-function: ease-in;
  }
}
