details {
  summary {
    &::marker {
      content: "";
    }
    list-style: none;
    &:before {
      content: "➡️";
      display: inline-block;
      transform: rotate(0deg);
      transition: transform 0.3s ease-in-out;
    }
  }
  &[open] {
    summary {
      &:before {
        transform: rotate(90deg);
      }
    }
  }

  &::details-content {
    opacity: 0.2;
    transform: translateY(-4px);
    content-visibility: visible;
    transition-property: opacity, transform, content-visibility;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-behavior: allow-discrete;
  }
  
  &[open]::details-content {
    opacity: 1;
    transform: translateY(0);
    transition-timing-function: ease-in;
  }
}
