button,
input[type="button"],
input[type="submit"],
input[type="reset"],
::-webkit-file-upload-button,
a.button,
.button {
  /* default circular */
  --borderRadius: var(--borderRadiusCircular);

  cursor: pointer;
  appearance: none;
  line-height: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--borderRadius);
  font-weight: var(--fontWeightBold);
  font-size: var(--sizeFont);
  color: var(--colorText1);
  min-height: var(--sizeHeight);
  padding: 0 var(--sizePadding);

  background-color: var(--interactiveRest);
  transition: background-color var(--durationRest) ease-in-out;
  
  &:not(:disabled) {
    &:hover, &.checked {
      background-color: var(--interactiveHover);
      transition-duration: var(--durationHover);
    }
    
    &:active {
      background-color: var(--interactiveActive);
      transition-duration: var(--durationActive);
    }
  }

  border: 1px solid var(--colorBorder1);

  &.appearance-subtle,
  &.appearance-primary,
  &.appearance-transparent {
    border-color: transparent;
  }

  &.icon-only {
    padding: 0;
    width: var(--sizeHeight);
    height: var(--sizeHeight);
  }
  
}

a.button {
  text-decoration: none;
}

/* .size-small, */
::-webkit-file-upload-button {
  --sizeHeight: 24px;
  --sizeFont: var(--fontSize6);
  --sizePadding: 8px;
}
