button,
input[type="button"],
input[type="submit"],
input[type="reset"],
::-webkit-file-upload-button,
a.mri-button,
select.mri-button,
.mri-button {
  cursor: pointer;
  appearance: none;
  line-height: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* default circular */
  --borderRadiusButton: var(--borderRadiusCircular);
  [class*="mri-shape-"] &,
  &[class*="mri-shape-"] {
    --borderRadiusButton: var(--borderRadius);
  }
  border-radius: var(--borderRadiusButton, var(--borderRadius));

  font-weight: var(--fontWeightBold);
  font-size: var(--sizeFont);
  color: var(--colorText1);
  min-height: var(--sizeHeight);
  padding: 0 var(--sizePadding);

  background-color: var(--interactiveRest);
  transition: background-color var(--durationRest) linear;
  transition-property: background-color, color, border-color;

  &:not(:disabled) {
    &:hover {
      background-color: var(--interactiveHover);
      transition-duration: var(--durationHover);
      &.mri-appearance-transparent,
      &.mri-appearance-subtle {
        color: var(--colorBrandText);
      }
    }

    &:active,
    &.mri-active {
      background-color: var(--interactiveActive);
      transition-duration: var(--durationActive);
      &.mri-appearance-transparent,
      &.mri-appearance-subtle {
        color: var(--colorBrandText);
      }
    }
  }

  border: 1px solid var(--colorBorder1);

  &.mri-appearance-subtle,
  &.mri-appearance-primary,
  &.mri-appearance-transparent {
    border-color: transparent;
  }

  &.mri-appearance-primary {
    color: white;
  }

  &.mri-icon-only {
    padding: 0;
    width: var(--sizeHeight);
    height: var(--sizeHeight);
  }

  .mri-menu & {
    --borderRadiusButton: var(--borderRadiusSmall);
    border-color: transparent;
    justify-content: flex-start;
    font-weight: var(--fontWeightNormal);
  }
}

a.mri-button {
  text-decoration: none;
}

/* .mri-size-small, */
::-webkit-file-upload-button {
  --sizeHeight: 24px;
  --sizeFont: var(--fontSize6);
  --sizePadding: 8px;
}
