button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--borderRadiusCircular);
  padding: 0 16px;
  height: 32px;
}
