input[type="checkbox"]:not(.mri-switch),
input[type="radio"] {
  --borderColor: var(--mri-color-border-1);
  --mri-interactive-rest: var(--mri-color-background-2);
  --sizeDimension: var(--mri-size-icon);
  --checkedColor: var(--mri-color-brand-base);

  appearance: none;
  margin: 0;
  width: var(--sizeDimension);
  height: var(--sizeDimension);

  cursor: pointer;

  border: 1px solid var(--borderColor);
  border-radius: var(--mri-border-radius);
  background-color: var(--mri-interactive-rest);

  label & {
    vertical-align: middle;
  }

  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    inset: 2px;
    border-radius: var(--mri-border-radius);
    background-color: var(--checkedColor);
    opacity: 0;
  }

  &:checked {
    border-color: var(--checkedColor);
  }

  &:disabled {
    --checkedColor: var(--borderColor);
  }
}

input[type="radio"] {
  --mri-border-radius: var(--mri-border-radius-circular);
  &:after {
    border-radius: var(--mri-border-radius);
  }
  &:checked:after {
    opacity: 1;
  }
}

input[type="checkbox"]:not(.mri-switch) {
  --mri-border-radius: var(--mri-border-radius-small);

  &:after {
    border-radius: calc(var(--mri-border-radius) - 2px);
  }

  &:checked:after {
    inset: 0;
    opacity: 1;
    background-image: var(--iconCheck);
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(var(--sizeDimension) - 4px);
  }

  &:indeterminate {
    border-color: var(--checkedColor);
  }
  &:indeterminate:after {
    inset: 4px;
  }

  &:indeterminate:after,
  &:checked:after {
    opacity: 1;
  }
}
