fieldset{
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: var(--size-padding);
    margin: 0px;
}

legend {
    padding: 0 4px;
    margin: 0 -4px;
    font-size: inherit;
    font-weight: var(--font-semibold);
    color: var(--color-heading);
}
