input:not([type]),
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="color"],
input[type="url"],
input[type="file"],
select:not(.button),
textarea {
  --interactiveRest: var(--colorBackground2);
  --underlineColor: var(--colorBrandBase);
  --borderColor: transparent;

  /* appearance: none; */
  /* line-height: 1.4; */

  display: inline-flex;
  align-items: center;
  justify-content: start;

  border-radius: var(--borderRadius);
  font-size: var(--sizeFont);
  color: var(--colorText1);
  min-height: var(--sizeHeight);
  padding: 0 var(--sizePadding);
  background-color: var(--interactiveRest);
  border: 1px solid var(--borderColor);

  --underlineColorGradient: linear-gradient(to bottom, var(--underlineColor), var(--underlineColor));
  --underlineBorderGradient: linear-gradient(to bottom, var(--colorBorder1), var(--colorBorder1));

  --focusUnderlineBackground: var(--underlineColorGradient) 50% 100%/0% 2px;
  --hoverUnderlineBackground: var(--underlineBorderGradient) 50% 100%/100% 0px;

  background: var(--focusUnderlineBackground), var(--hoverUnderlineBackground), var(--interactiveRest);
  background-repeat: no-repeat;

  transition: 0.1s ease-in;
  transition-property: background-size, background-position, border-color;

  &:not(:disabled):not(:read-only) {
    &:hover {
      --hoverUnderlineBackground: var(--underlineBorderGradient) 50% 100%/100% 1px;
      transition-duration: 0.15s;
      transition-timing-function: ease-out;
    }

    &:focus {
      --focusUnderlineBackground: var(--underlineColorGradient) 50% 100%/100% 2px;
      transition-duration: 0.15s;
      transition-timing-function: ease-out;
      border-bottom-color: transparent;
    }
  }

  outline: transparent solid 2px;

  &.appearance-outline {
    --borderColor: var(--colorBorder1);
  }
}

input[type="number"],
input[type="date"] {
  font-family: var(--fontFamilyMono);
  font-size: var(--fontFamilyMonoScale);
}

input[type="number"] {
  --spinButtonGap: 2px;
  padding-right: 0;

  &::-webkit-inner-spin-button {
    height: calc(var(--sizeHeight) - var(--spinButtonGap));
    margin-bottom: var(--spinButtonGap);
  }
}

textarea {
  padding-block: 0.5em;
  font-family: var(--fontFamilySans);
}

input[type="color"] {
  padding: 0;
  height: var(--sizeHeight);
  width: var(--sizeHeight);

  &::-webkit-color-swatch-wrapper {
    padding: 4px;
  }
  &::-webkit-color-swatch {
    border: none;
    border-radius: calc(var(--borderRadius) - 4px);
  }
}

/* I cannot figure out how to vertically center this input's content */
/* input[type="file"] {} */

input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"] {
  cursor: text;
}

input[type="color"],
input[type="file"],
::-webkit-calendar-picker-indicator,
::-webkit-inner-spin-button,
select {
  cursor: pointer;
}
