a:where(:not(.button):not(.tab)) {
  color: var(--color-link);
  text-decoration: none;
  &:hover {
    color: oklch(from var(--color-link) calc(l * 0.9) c h);
    text-decoration: underline;
  }
  &:active {
    color: var(--color-link);
  }
}
