a:where(:not(.button):not(.tab)) {
  color: var(--text-brand);
  text-decoration: none;
  &:hover {
    color: oklch(from var(--text-brand) calc(l * 0.9) c h);
    text-decoration: underline;
  }
  &:active {
    color: var(--text-brand);
  }
}
