progress.spinner {
  --sizeDimension: 20px;
  --animationEasing: ease-in-out;
  --animationDuration: 2.5s;

  appearance: none;
  width: var(--sizeDimension);
  height: var(--sizeDimension);

  overflow: hidden;
  position: relative;
  background: transparent;

  animation: --progress-spin calc(var(--animationDuration) * 0.8) linear infinite;

  &:before,
  &:after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid var(--colorBackground2);
    border-top-color: var(--colorBrandBase);
    border-radius: var(--borderRadiusCircular);
    animation: --progress-spin var(--animationDuration) var(--animationEasing) infinite;
    pointer-events: none;
  }
  &:after {
    border-color: transparent;
    border-top-color: var(--colorBrandBase);
    animation-delay: calc(var(--animationDuration) * 0.075);
  }

  &::-webkit-progress-inner-element,
  &::-webkit-progress-bar,
  &::-webkit-progress-value {
    display: none;
    background: transparent;
  }
}

progress:not(.spinner),
meter {
  --sizeHeight: 2px;
  appearance: none;
  width: 100%;
  height: var(--sizeHeight);
  border-radius: var(--borderRadiusRound);
  background: var(--colorBackground2);
  overflow: hidden;

  &.size-small {
    --sizeHeight: 1px;
  }
  &.size-medium {
    --sizeHeight: 2px;
  }
  &.size-large {
    --sizeHeight: 4px;
  }

  &.shape-square {
    border-radius: 0;
  }
}

progress:not(.spinner):indeterminate {
  --gradientStepTransparent: color-mix(in srgb, var(--colorBrandBase) 0%, transparent);
  --gradientStepBrand: var(--colorBrandBase);

  background-image: linear-gradient(
    to right,
    var(--gradientStepTransparent) 0%,
    var(--gradientStepBrand) 40%,
    var(--gradientStepBrand) 60%,
    var(--gradientStepTransparent) 100%
  );
  background-size: 30% 100%;
  background-repeat: no-repeat;
  animation: --progress-indeterminate 4s linear infinite;

  &::-webkit-progress-value,
  &::-webkit-progress-inner-element,
  &::-webkit-progress-bar {
    background: transparent;
  }
}

::-webkit-meter-bar,
::-webkit-progress-bar {
  background: transparent;
  height: var(--sizeHeight);
}
::-webkit-progress-value {
  background: var(--colorBrandBase);
}

/* ::-webkit-meter-inner-element {
  height: 100%;
} */

::-webkit-meter-optimum-value {
  /* intent-success */
  background: green;
}
::-webkit-meter-suboptimum-value {
  /* intent-warning */
  background: orange;
}
::-webkit-meter-even-less-good-value {
  /* intent-danger */
  background: red;
}

/* ::-webkit-meter-bar,
::-webkit-meter-inner-element,
::-webkit-meter-even-less-good-value,
::-webkit-meter-optimum-value,
::-webkit-meter-suboptimum-value {} */

/* :indeterminate
-moz-orient
::-moz-progress-bar
::-webkit-progress-bar
::-webkit-progress-value
::-webkit-progress-inner-element */

@keyframes --progress-indeterminate {
  0% {
    background-position: -40% 0;
  }
  100% {
    background-position: 140% 0;
  }
}

@keyframes --progress-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
