input[type="range"] {
  --sizeThumb: 20px;
  --sizeTrack: 4px;

  appearance: none;
  background: transparent;
  padding: calc(var(--sizeThumb) / 2 - var(--sizeTrack) / 2) 0;
  margin: 0;

  /* &:after{} */

  &::-webkit-slider-container {
    height: var(--sizeTrack);
    background: var(--colorBorder1);
    border-radius: var(--borderRadiusCircular);
  }

  /* &::-webkit-slider-runnable-track {} */

  /* Thumb styles */
  &::-webkit-slider-thumb {
    appearance: none;
    width: var(--sizeThumb);
    height: var(--sizeThumb);
    border: 1px solid var(--colorBorder1);
    border-radius: var(--borderRadiusCircular);
    cursor: ew-resize;
    background: var(--colorBrandBase);
    box-shadow: inset 0 0 0 3px var(--colorBackground1);
  }
}
