input[type="range"] {
  --_size-thumb: 20px;
  --_size-track: 4px;
  --_color-border: var(--color-border);
  --_color-thumb: var(--color-brand);
  --_color-track: var(--color-input);

  appearance: none;
  background: transparent;
  padding: calc(var(--_size-thumb) / 2 - var(--_size-track) / 2) 0;
  margin: 0;

  &::-webkit-slider-container {
    height: var(--_size-track);
    background: var(--_color-track);
    border-radius: var(--radius-4xl);
  }

  /* &::-webkit-slider-runnable-track {} */

  /* Thumb styles */
  &::-webkit-slider-thumb {
    appearance: none;
    width: var(--_size-thumb);
    height: var(--_size-thumb);
    border: 1px solid var(--_color-border);
    border-radius: var(--radius-4xl);
    cursor: ew-resize;
    background: var(--_color-thumb);
    box-shadow: inset 0 0 0 3px var(--color-card);
  }
}
