input[type="checkbox"].mri-switch {

  --borderColor: var(--mri-color-border-1);
  --mri-interactive-rest: var(--mri-color-background-2);
  --sizeThumb: var(--mri-size-icon);
  --sizeOffset: 2px;
  --sizeDimension: calc(var(--sizeThumb) + (var(--sizeOffset) * 2) + 2px);
  --checkedColor: var(--mri-color-brand-base);

  border: 1px solid var(--mri-color-border-1);
  background-color: var(--mri-interactive-rest);
  border-radius: var(--mri-border-radius-circular);

  appearance: none;
  position: relative;
  margin: 0;

  cursor: pointer;

  height: var(--sizeDimension);
  width: calc(var(--sizeDimension) * 2);

  label & {
    vertical-align: middle;
  }

  &:after {
    content: "";
    display: block;
    height: var(--sizeThumb);
    width:  var(--sizeThumb);
    border-radius: var(--mri-border-radius-circular);
    background-color: var(--mri-color-border-1);

    position: absolute;
    top: var(--sizeOffset);
    left: var(--sizeOffset);
    /* margin: var(--sizeOffset); */

    transition: 0.1s ease-in-out;
    transition-property: inset, background-color;
    
  }

  &:checked {
    background-color: var(--checkedColor);
    border-color: var(--checkedColor);
    &:after {
      left: calc(100% - var(--sizeThumb) - var(--sizeOffset));
      background-color: var(--mri-interactive-rest);
    }
  }

  &:disabled {
    --checkedColor: var(--borderColor);
  }
}



