.mri-tab-list,
[role="tablist"] {
  display: flex;
  gap: 2px;
  flex-direction: row;
  &.mri-vertical {
    flex-direction: column;
  }
}

/* .mri-icon-only */
/* .mri-size-<size> */
/* .mri-disabled */

/* .mri-vertical */
/* button and a anchor exception */

.mri-tab,
[role="tab"] {
  cursor: pointer;
  appearance: none;
  line-height: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--borderRadius);
  font-size: var(--sizeFont);
  /* color: var(--colorText1); */
  min-height: var(--sizeHeight);
  padding: 0 var(--sizePadding);

  transition: background-color var(--durationRest) linear;

  --sizeTabUnderline: 3px;
  --colorTabUnderlineHover: var(--colorText4);
  --colorTabUnderlineActive: var(--colorBrandText);
  --durationTabUnderline: 0.1s;

  position: relative;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: var(--borderRadiusCircular);
    inset: auto var(--sizePadding) 0 var(--sizePadding);
    height: var(--sizeTabUnderline);
    transform-origin: center;
    transition: transform var(--durationTabUnderline) ease-out, opacity var(--durationRest) linear;
  }

  &:before {
    background-color: var(--colorTabUnderlineHover);
    opacity: 0;
  }

  &:after {
    background-color: var(--colorTabUnderlineActive);
    transform: scaleX(0);
  }

  .mri-vertical & {
    --sizeTabUnderlinePadding: calc((var(--sizeHeight) - var(--sizeIcon)) / 2);
    &:after,
    &:before {
      inset: var(--sizeTabUnderlinePadding) auto var(--sizeTabUnderlinePadding) 0;
      height: auto;
      width: var(--sizeTabUnderline);
    }
    &:after {
      transform: scaleY(0);
    }
  }

  &.mri-icon-only {
    padding: 0;
    width: var(--sizeHeight);
    height: var(--sizeHeight);
  }

  /* .mri-appearance-subtle */
  /* .mri-appearance-toggle */

  &:has(input[type="radio"]:not(:disabled)) {
    &:hover {
      transition-duration: var(--durationHover);

      /* .mri-appearance-transparent & { background-color: transparent; } */
      .mri-appearance-subtle & {
        background-color: var(--interactiveHover);
      }

      &:before {
        opacity: 1;
      }
    }

    /* pressed */
    &:active {
      transition-duration: var(--durationActive);

      /* .mri-appearance-transparent & { background-color: transparent; } */
      .mri-appearance-subtle & {
        background-color: var(--interactiveActive);
      }
    }
  }

  /* selected tab */
  &.mri-active,
  &[aria-selected="true"],
  &:has(input[type="radio"]:checked) {
    font-weight: var(--fontWeightBold);
    color: var(--colorText1);

    /* .mri-appearance-transparent & { background-color: transparent; } */
    .mri-appearance-subtle & {
      background-color: var(--colorBackground2);
    }

    &:after {
      transform: scale(1);
    }
  }

  &:has(input[type="radio"]:disabled) {
    cursor: not-allowed;
    opacity: var(--opacityDisabled);
  }
}
