.tab-list,
[role="tablist"] {
  display: flex;
  gap: 2px;
  flex-direction: row;

  &.vertical {
    flex-direction: column;
  }

  &:not(.vertical) {
    & .tab,
    & [role="tab"] {
      --_negative-margin: calc(var(--size-padding) * -1);
      &:first-child {
        margin-left: var(--_negative-margin);
      }
      &:last-child {
        margin-right: var(--_negative-margin);
      }
    }
  }
}

/* TODO: button and a anchor variant & exception */

.tab,
[role="tab"] {
  cursor: pointer;
  appearance: none;
  line-height: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border-radius: var(--border-radius);
  font-size: var(--size-font);
  /* color: var(--color-heading); */
  min-height: var(--size-height);
  padding: 0 var(--size-padding);

  transition: background-color var(--duration-rest) linear;

  --_size-tab-underline: 2px;
  --_color-tab-underline-hover: var(--color-input);
  --_color-tab-underline-active: var(--color-brand-fg);
  --_duration-tab-underline: 0.1s;

  position: relative;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: var(--radius-4xl);
    inset: auto var(--size-padding) 0 var(--size-padding);
    height: var(--_size-tab-underline);
    transform-origin: center;
    transition: transform var(--_duration-tab-underline) ease-out, opacity var(--duration-rest) linear;
  }

  &:before {
    background-color: var(--_color-tab-underline-hover);
    opacity: 0;
  }

  &:after {
    background-color: var(--_color-tab-underline-active);
    transform: scaleX(0);
  }

  .vertical & {
    --_size-tab-underline-padding: calc((var(--size-height) - var(--size-icon)) / 2);
    
    &:not(.icon-only) {
      justify-content: start;
    }

    &:after,
    &:before {
      inset: var(--_size-tab-underline-padding) auto var(--_size-tab-underline-padding) 0;
      height: auto;
      width: var(--_size-tab-underline);
    }

    &:after {
      transform: scaleY(0);
    }
  }

  &.icon-only {
    padding: 0;
    width: var(--size-height);
    height: var(--size-height);
  }

  &:hover {
    transition-duration: var(--duration-hover);

    .appearance-subtle & {
      background-color: var(--color-hover);
    }

    &:before {
      opacity: 1;
    }
  }

  /* pressed */
  &:active {
    transition-duration: var(--duration-hover);

    .appearance-subtle & {
      background-color: var(--color-selected);
    }
  }

  /* disabled */
  &:disabled,
  &.disabled,
  &:has(input[type="radio"]:disabled) {
    cursor: not-allowed;

    &:hover {
      .appearance-subtle & {
        background-color: unset;
      }

      &:before {
        opacity: 0;
      }
    }
  }

  /* selected tab */
  &.active,
  &[aria-selected="true"],
  &:has(input[type="radio"]:checked) {
    font-weight: var(--font-heavyweight);
    color: var(--color-heading);

    .appearance-subtle & {
      background-color: var(--color-control);
    }

    &:after {
      transform: scale(1);
    }
  }

  &:has(input[type="radio"]:disabled) {
    cursor: not-allowed;
    opacity: var(--opacity-disabled);
  }
}

a.tab {
  text-decoration: none;
  color: inherit;
}

button.tab {
  background: none;
  border: none;
}
