@font-face {
  font-family: "Aptos";
  src: url("./Aptos-Light.ttf?raw") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aptos";
  src: url("./Aptos-Light-Italic.ttf?raw") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Aptos";
  src: url("./Aptos.ttf?raw") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aptos";
  src: url("./Aptos-Italic.ttf?raw") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* no medium font 500? */

@font-face {
  font-family: "Aptos";
  src: url("./Aptos-SemiBold.ttf?raw") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Aptos";
  src: url("./Aptos-SemiBold-Italic.ttf?raw") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Aptos";
  src: url("./Aptos-Bold.ttf?raw") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aptos";
  src: url("./Aptos-Bold-Italic.ttf?raw") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Aptos";
  src: url("./Aptos-ExtraBold.ttf?raw") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Aptos";
  src: url("./Aptos-ExtraBold-Italic.ttf?raw") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Aptos";
  src: url("./Aptos-Black.ttf?raw") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Aptos";
  src: url("./Aptos-Black-Italic.ttf?raw") format("truetype");
  font-weight: 900;
  font-style: italic;
}
