@theme {
  --color-card: var(--color-white);
  --color-panel: var(--color-neutral-50);
  --color-page: var(--color-neutral-100);

  --color-border: var(--color-neutral-300);
  --color-outline: var(--color-neutral-500);

  --color-muted: var(--color-neutral-600);
  --color-body: var(--color-neutral-800);
  --color-heading: var(--color-neutral-900);

  --color-link: var(--color-blue-500);
  --color-brand: var(--color-blue-500);
  --color-contrast-brand: white;

  --color-input: var(--color-white);
  --color-selected: oklch(0 0 0 / 0.05);
  --color-hover: oklch(0 0 0 / 0.065);
  --color-active: oklch(0 0 0 / 0.12);

  --color-danger: var(--color-red-500);
  --color-warning: var(--color-yellow-500);
  --color-success: var(--color-green-500);

  --opacity-disabled: 0.6;
}

@layer theme {
  @variant dark {
    color-scheme: dark;
    color: var(--color-body);

    --color-card: var(--color-neutral-800);
    --color-panel: var(--color-neutral-900);
    --color-page: var(--color-neutral-950);

    --color-border: var(--color-neutral-700);
    --color-outline: var(--color-neutral-500);

    --color-muted: var(--color-neutral-500);
    --color-body: var(--color-neutral-300);
    --color-heading: var(--color-white);

    --color-link: var(--color-blue-400);
    --color-brand: var(--color-blue-500);
    --color-contrast-brand: white;

    --color-input: var(--color-neutral-800);
    --color-selected: oklch(100% 0 0 / 0.075);
    --color-hover: oklch(100% 0 0 / 0.125);
    --color-active: oklch(0% 0 0 / 0.3);

    --color-danger: var(--color-red-500);
    --color-warning: var(--color-yellow-500);
    --color-success: var(--color-green-500);

    --opacity-disabled: 0.6;

    @variant intent-danger {
      color: var(--color-body);

      --color-card: color-mix(in oklch, var(--color-danger) 12%, var(--color-neutral-800)); /* 800 */
      --color-panel: color-mix(in oklch, var(--color-danger) 8%, var(--color-neutral-900)); /* 900 */
      --color-page: color-mix(in oklch, var(--color-danger) 5%, var(--color-neutral-950)); /* 950 */

      --color-border: color-mix(in oklch, var(--color-danger) 30%, var(--color-neutral-700)); /* 700 */
      --color-outline: color-mix(in oklch, var(--color-danger) 50%, var(--color-neutral-500)); /* 500 */

      --color-muted: color-mix(in oklch, var(--color-danger) 50%, var(--color-neutral-500)); /* 500 */
      --color-body: color-mix(in oklch, var(--color-danger) 30%, var(--color-neutral-300)); /* 300 */
      --color-heading: color-mix(in oklch, var(--color-danger) 10%, var(--color-white)); /* white */

      --color-link: color-mix(in oklch, var(--color-danger) 60%, var(--color-neutral-400)); /* 400 */
      --color-brand: var(--color-danger);
      --color-contrast-brand: white;

      --color-input: color-mix(in oklch, var(--color-danger) 12%, var(--color-neutral-800)); /* 800 */
      --color-selected: oklch(from var(--color-danger) l c h / 0.075);
      --color-hover: oklch(from var(--color-danger) l c h / 0.125);
      --color-active: oklch(from var(--color-danger) 0.05 c h / 0.3);

    }
  }
}
