@theme {
  --color-card: var(--color-white);
  --color-panel: var(--color-neutral-50);
  --color-page: var(--color-neutral-100);

  --color-border: var(--color-neutral-300);
  --color-outline: var(--color-neutral-500);

  --color-muted: var(--color-neutral-600);
  --color-body: var(--color-neutral-800);
  --color-heading: var(--color-neutral-900);

  --color-link: var(--color-blue-500);
  --color-brand: var(--color-blue-500);
  --color-contrast-brand: white;

  --color-input: var(--color-white);
  --color-selected: oklch(0 0 0 / 0.05);
  --color-hover: oklch(0 0 0 / 0.065);
  --color-active: oklch(0 0 0 / 0.12);

  --color-danger: var(--color-red-500);
  --color-warning: var(--color-yellow-500);
  --color-success: var(--color-green-500);

  --opacity-disabled: 0.6;
}

@layer theme {


  @variant dark {
    color-scheme: dark;
    color: var(--color-body);

    --color-card: var(--color-neutral-800);
    --color-panel: var(--color-neutral-900);
    --color-page: var(--color-neutral-950);

    --color-border: var(--color-neutral-700);
    --color-outline: var(--color-neutral-500);

    --color-muted: var(--color-neutral-500);
    --color-body: var(--color-neutral-300);
    --color-heading: var(--color-white);

    --color-link: var(--color-blue-400);
    --color-brand: var(--color-blue-500);
    --color-contrast-brand: white;

    --color-input: var(--color-neutral-800);
    --color-selected: oklch(100% 0 0 / 0.075);
    --color-hover: oklch(100% 0 0 / 0.125);
    --color-active: oklch(0% 0 0 / 0.3);

    --color-danger: var(--color-red-500);
    --color-warning: var(--color-yellow-500);
    --color-success: var(--color-green-500);
    --color-intent: unset;

    --opacity-disabled: 0.6;

    @variant intent {
      color: var(--color-body);

      --color-card: oklch(from var(--color-intent) var(--l-800) 0.02 h);
      --color-panel: oklch(from var(--color-intent) var(--l-900) 0.01 h);
      --color-page: oklch(from var(--color-intent) var(--l-950) 0.005 h);

      --color-border: oklch(from var(--color-intent) var(--l-700) 0.03 h);
      --color-outline: oklch(from var(--color-intent) var(--l-500) 0.05 h);

      --color-muted: oklch(from var(--color-intent) var(--l-500) 0.05 h);
      --color-body: oklch(from var(--color-intent) var(--l-300) 0.03 h);
      --color-heading: oklch(from var(--color-intent) var(--l-100) 0.01 h);

      --color-link: oklch(from var(--color-intent) var(--l-400) c h);
      /* --color-brand: var(--color-intent); */
      --color-contrast-brand: white;

      --color-input: oklch(from var(--color-intent) var(--l-800) 0.02 h);
      --color-selected: oklch(from var(--color-intent) l c h / 0.075);
      --color-hover: oklch(from var(--color-intent) l c h / 0.125);
      --color-active: oklch(from var(--color-intent) 0.05 c h / 0.3);
    }
  }
}

@variant intent-danger {
  --color-intent: var(--color-danger);
  --color-brand: var(--color-intent);
}
@variant intent-warning {
  --color-intent: var(--color-warning);
  --color-brand: var(--color-intent);
}
@variant intent-success {
  --color-intent: var(--color-success);
  --color-brand: var(--color-intent);
}
@variant intent-brand {
  --color-intent: var(--color-brand);
}

@variant intent-info {
  --color-intent: var(--color-heading);
  --color-brand: var(--color-heading);
  --color-link: var(--color-body);
  --color-contrast-brand: var(--color-page);
}
