@theme {
  --color-card: unset;
  --color-panel: unset;
  --color-page: unset;

  --color-border: unset;
  --color-outline: unset;

  --color-muted: unset;
  --color-body: unset;
  --color-heading: unset;

  --color-link: unset;
  --color-brand: unset;
  --color-contrast-brand: unset;

  --color-input: unset;
  --color-selected: unset;
  --color-hover: unset;
  --color-active: unset;

  --opacity-disabled: unset;
}

@layer theme {
  @variant light {
    --color-card: var(--color-white);
    --color-panel: var(--color-neutral-50);
    --color-page: var(--color-neutral-100);

    --color-border: var(--color-neutral-300);
    --color-outline: var(--color-neutral-500);

    --color-muted: var(--color-neutral-600);
    --color-body: var(--color-neutral-800);
    --color-heading: var(--color-neutral-900);

    --color-link: var(--color-blue-500);
    --color-brand: var(--color-blue-500);
    --color-contrast-brand: white;

    --color-input: var(--color-white);
    --color-selected: oklch(0 0 0 / 0.05);
    --color-hover: oklch(0 0 0 / 0.065);
    --color-active: oklch(0 0 0 / 0.12);

    --opacity-disabled: 0.6;
  }

  @variant dark {
    color-scheme: dark;

    --color-card: var(--color-neutral-800);
    --color-panel: var(--color-neutral-900);
    --color-page: var(--color-neutral-950);

    --color-border: var(--color-neutral-700);
    --color-outline: var(--color-neutral-500);

    --color-muted: var(--color-neutral-500);
    --color-body: var(--color-neutral-300);
    --color-heading: var(--color-white);

    --color-link: var(--color-blue-400);
    --color-brand: var(--color-blue-500);
    --color-contrast-brand: white;

    --color-input: var(--color-neutral-800);
    --color-selected: oklch(100% 0 0 / 0.075);
    --color-hover: oklch(100% 0 0 / 0.125);
    --color-active: oklch(0% 0 0 / 0.3);

    --opacity-disabled: 0.6;
  }
}
