@theme {
  --color-page: #ffffff;
  --color-control: #f5f5f5;
  --color-shell: #f0f0f0;

  --color-border: #d1d1d1;

  --color-faint: #bdbdbd;
  --color-muted: #707070;
  --color-body: #424242;
  --color-heading: #000000;

  --color-brand-bg: #007bb4;
  --color-brand-contrast: hwb(
    from oklch(from var(--color-brand-bg) l 0 0) h calc(((b - 50) * 999)) calc(((w - 50) * 999))
  );
  --color-brand-fg: #007bb4;

  --color-rest: var(--color-control);
  --color-hover: oklch(from var(--color-rest) calc(l * 0.92) c h);
  --color-pressed: oklch(from var(--color-rest) calc(l * 0.88) c h);
}

@variant dark {
  color-scheme: dark;

  --color-page: #1f1f1f;
  --color-control: #141414;
  --color-shell: #0a0a0a;

  --color-border: #666666;

  --color-heading: #ffffff;
  --color-body: #d6d6d6;
  --color-muted: #999999;
  --color-faint: #5c5c5c;

  --color-brand-bg: #005e8b;
  --color-brand-contrast: hwb(
    from oklch(from var(--color-brand-bg) l 0 0) h calc(((b - 50) * 999)) calc(((w - 50) * 999))
  );
  --color-brand-fg: #0090d3;

  --color-rest: var(--color-control);
  --color-hover: oklch(from var(--color-rest) calc(l * 0.8) c h);
  --color-pressed: oklch(from var(--color-rest) calc(l * 0.65) c h);
}

@variant light {
  color-scheme: light;

  &,
  .appearance-outline {
    /* default */
  }
  .appearance-primary {
    --color-rest: var(--color-brand-bg);
    --color-hover: oklch(from var(--color-brand-bg) calc(l * 0.85) c h);
    --color-pressed: oklch(from var(--color-brand-bg) calc(l * 0.7) c h);
  }
  .appearance-subtle {
    --color-rest: var(--color-control);
  }
  .appearance-transparent {
    --color-rest: transparent;
  }
}

@variant dark {
  &,
  .appearance-outline {
    /* default */
  }
  .appearance-primary {
    --color-rest: var(--color-brand-bg);
    --color-hover: oklch(from var(--color-brand-bg) calc(l * 0.85) c h);
    --color-pressed: oklch(from var(--color-brand-bg) calc(l * 0.7) c h);
  }
  .appearance-subtle {
    --color-rest: var(--color-control);
  }
  .appearance-transparent {
    --color-rest: transparent;
  }
}
