
@theme {

  --duration-rest: 100ms;
  --duration-hover: 150ms;
  --duration-hover: 50ms;

  --color-shadow-ambient: rgba(0, 0, 0, 0.24);
  --color-shadow-key: rgba(0, 0, 0, 0.28);

  --shadow-xs: 0 0 2px var(--color-shadow-ambient), 0 1px 2px var(--color-shadow-key);
  --shadow-sm: 0 0 2px var(--color-shadow-ambient), 0 2px 4px var(--color-shadow-key);
  --shadow-md: 0 0 2px var(--color-shadow-ambient), 0 4px 8px var(--color-shadow-key);
  --shadow-lg: 0 0 2px var(--color-shadow-ambient), 0 8px 16px var(--color-shadow-key);
  --shadow-xl: 0 0 8px var(--color-shadow-ambient), 0 14px 28px var(--color-shadow-key);
  --shadow-2xl: 0 0 8px var(--color-shadow-ambient), 0 32px 64px var(--color-shadow-key);

  --color-background-overlay: rgba(0, 0, 0, 0.5);

  --opacity-disabled: 0.5;
}

@theme {
  --color-background-1: #ffffff;
  --color-background-2: #f5f5f5;
  --color-background-3: #f0f0f0;
  --color-background-4: #e6e6e6;

  --color-border-1: #d1d1d1;
  --color-border-2: var(--color-background-3);

  --color-text-1: #000000;
  --color-text-2: #424242;
  --color-text-3: #707070;
  --color-text-4: #bdbdbd;

  --color-brand-base: #007bb4;
  --color-on-brand-text: #ffffff;
  --color-brand-text: #007bb4;
}

@layer utilities {
  .size-small {
    --size-height: 24px;
    --size-font: var(--text-xs);
    --size-padding: 8px;
    --size-icon: 12px;
  }
  :root,
  .size-medium {
    --size-height: 32px;
    --size-font: var(--text-sm);
    --size-padding: 12px;
    --size-icon: 16px;
  }
  .size-large {
    --size-height: 40px;
    --size-font: var(--text-base);
    --size-padding: 16px;
    --size-icon: 20px;
  }

  .shape-square {
    --border-radius: var(--radius-sm);
  }
  :root,
  .shape-rounded {
    --border-radius: var(--radius-md);
  }
  .shape-circular {
    --border-radius: var(--radius-4xl);
  }
}

@layer theme {
  .dark,
  .dark * {
    --color-background-1: #1f1f1f;
    --color-background-2: #141414;
    --color-background-3: #0a0a0a;
    --color-background-4: #000000;

    --color-border-1: #666666;
    --color-border-2: var(--color-background-3);

    --color-text-1: #ffffff;
    --color-text-2: #d6d6d6;
    --color-text-3: #999999;
    --color-text-4: #5c5c5c;

    --color-brand-base: #005e8b;
    --color-on-brand-text: #ffffff;
    --color-brand-text: #0090d3;
  }

  *,
  .light,
  .light * {
    color-scheme: light;

    &,
    .appearance-outline {
      --interactive-rest: var(--color-background-1);
      --interactive-hover: oklch(from var(--color-background-1) calc(l * 0.92) c h);
      --interactive-pressed: oklch(from var(--color-background-1) calc(l * 0.88) c h);
    }
    .appearance-primary {
      --interactive-rest: var(--color-brand-base);
      --interactive-hover: oklch(from var(--color-brand-base) calc(l * 0.85) c h);
      --interactive-pressed: oklch(from var(--color-brand-base) calc(l * 0.7) c h);
    }
    .appearance-subtle {
      --interactive-rest: var(--color-background-2);
    }
    .appearance-transparent {
      --interactive-rest: transparent;
    }
  }

  @variant dark {
    color-scheme: dark;

    &,
    .appearance-outline {
      --interactive-rest: var(--color-background-1);
      --interactive-hover: oklch(from var(--interactive-rest) calc(l * 0.8) c h);
      --interactive-pressed: oklch(from var(--interactive-rest) calc(l * 0.65) c h);
    }
    .appearance-primary {
      --interactive-rest: var(--color-brand-base);
      --interactive-hover: oklch(from var(--color-brand-base) calc(l * 0.85) c h);
      --interactive-pressed: oklch(from var(--color-brand-base) calc(l * 0.7) c h);
    }
    .appearance-subtle {
      --interactive-rest: var(--color-background-2);
    }
    .appearance-transparent {
      --interactive-rest: transparent;
    }
  }
}
