@custom-variant dark (&:where(.dark, .dark *));

@theme {

  --text-xs: 10px;                /* original: 0.75rem (12px) */
  --text-xs--line-height: 14px;   /* original: calc(1 / 0.75) = 1.333... (16px) */

  --text-sm: 12px;                /* original: 0.875rem (14px) */
  --text-sm--line-height: 16px;   /* original: calc(1.25 / 0.875) = 1.428... (20px) */

  --text-base: 14px;              /* original: 1rem (16px) */
  --text-base--line-height: 20px; /* original: calc(1.5 / 1) = 1.5 (24px) */

  --text-lg: 16px;                /* original: 1.125rem (18px) */
  --text-lg--line-height: 22px;   /* original: calc(1.75 / 1.125) = 1.555... (28px) */

  --text-xl: 20px;                /* original: 1.25rem (20px) */
  --text-xl--line-height: 26px;   /* original: calc(1.75 / 1.25) = 1.4 (28px) */

  --text-2xl: 24px;               /* original: 1.5rem (24px) */
  --text-2xl--line-height: 32px;  /* original: calc(2 / 1.5) = 1.333... (32px) */

  --text-3xl: 28px;               /* original: 1.875rem (30px) */
  --text-3xl--line-height: 36px;  /* original: calc(2.25 / 1.875) = 1.2 (36px) */

  --text-4xl: 32px;               /* original: 2.25rem (36px) */
  --text-4xl--line-height: 40px;  /* original: calc(2.5 / 2.25) = 1.111... (40px) */

  --text-5xl: 40px;               /* original: 3rem (48px) */
  --text-5xl--line-height: 52px;  /* original: 1 (48px) */

  --text-6xl: 52px;               /* original: 3.75rem (60px) */
  --text-6xl--line-height: 68px;  /* original: 1 (60px) */

  --text-7xl: 68px;               /* original: 4.5rem (72px) */
  --text-7xl--line-height: 92px;  /* original: 1 (72px) */

  --text-8xl: 96px;               /* original: 6rem (96px) */
  --text-8xl--line-height: 116px; /* original: 1 (96px) */

  --text-9xl: 128px;              /* original: 8rem (128px) */
  --text-9xl--line-height: 140px; /* original: 1 (128px) */

  --text-md: var(--text-base); /* alias for consistency */

  --font-family-sans: "Aptos", "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  --font-family-mono: "Monaspace Neon", Consolas, Menlo, "Courier New", Courier, monospace;
  /* smaller font size optically aligns the x-height of Monaspace Neon and Aptos */
  --font-family-mono-scale: 0.9em;

  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;
  --border-radius-xlarge: 16px;
  --border-radius-circular: 10000px;

  --duration-rest: 100ms;
  --duration-hover: 150ms;
  --duration-hover: 50ms;

  --color-shadow-ambient: rgba(0, 0, 0, 0.24);
  --color-shadow-key: rgba(0, 0, 0, 0.28);

  --shadow-2: 0 0 2px var(--color-shadow-ambient), 0 1px 2px var(--color-shadow-key);
  --shadow-4: 0 0 2px var(--color-shadow-ambient), 0 2px 4px var(--color-shadow-key);
  --shadow-8: 0 0 2px var(--color-shadow-ambient), 0 4px 8px var(--color-shadow-key);
  --shadow-16: 0 0 2px var(--color-shadow-ambient), 0 8px 16px var(--color-shadow-key);
  --shadow-28: 0 0 8px var(--color-shadow-ambient), 0 14px 28px var(--color-shadow-key);
  --shadow-64: 0 0 8px var(--color-shadow-ambient), 0 32px 64px var(--color-shadow-key);

  --color-background-overlay: rgba(0, 0, 0, 0.5);

  --opacity-disabled: 0.5;
}

@theme {
  --color-background-1: #ffffff;
  --color-background-2: #f5f5f5;
  --color-background-3: #f0f0f0;
  --color-background-4: #e6e6e6;

  --color-border-1: #d1d1d1;
  --color-border-2: var(--color-background-3);

  --color-text-1: #000000;
  --color-text-2: #424242;
  --color-text-3: #707070;
  --color-text-4: #bdbdbd;

  --color-brand-base: #007bb4;
  --color-on-brand-text: #ffffff;
  --color-brand-text: #007bb4;
}

@layer utilities {
  .size-small {
    --size-height: 24px;
    --size-font: var(--text-xs);
    --size-padding: 8px;
    --size-icon: 12px;
  }
  :root,
  .size-medium {
    --size-height: 32px;
    --size-font: var(--text-sm);
    --size-padding: 12px;
    --size-icon: 16px;
  }
  .size-large {
    --size-height: 40px;
    --size-font: var(--text-base);
    --size-padding: 16px;
    --size-icon: 20px;
  }

  .shape-square {
    --border-radius: var(--border-radius-small);
  }
  :root,
  .shape-rounded {
    --border-radius: var(--border-radius-medium);
  }
  .shape-circular {
    --border-radius: var(--border-radius-circular);
  }
}

@layer theme {
  .dark,
  .dark * {
    --color-background-1: #1f1f1f;
    --color-background-2: #141414;
    --color-background-3: #0a0a0a;
    --color-background-4: #000000;

    --color-border-1: #666666;
    --color-border-2: var(--color-background-3);

    --color-text-1: #ffffff;
    --color-text-2: #d6d6d6;
    --color-text-3: #999999;
    --color-text-4: #5c5c5c;

    --color-brand-base: #005e8b;
    --color-on-brand-text: #ffffff;
    --color-brand-text: #0090d3;
  }

  *,
  .light,
  .light * {
    color-scheme: light;

    &,
    .appearance-outline {
      --interactive-rest: var(--color-background-1);
      --interactive-hover: oklch(from var(--color-background-1) calc(l * 0.92) c h);
      --interactive-pressed: oklch(from var(--color-background-1) calc(l * 0.88) c h);
    }
    .appearance-primary {
      --interactive-rest: var(--color-brand-base);
      --interactive-hover: oklch(from var(--color-brand-base) calc(l * 0.85) c h);
      --interactive-pressed: oklch(from var(--color-brand-base) calc(l * 0.7) c h);
    }
    .appearance-subtle {
      --interactive-rest: var(--color-background-2);
    }
    .appearance-transparent {
      --interactive-rest: transparent;
    }
  }

  @variant dark {
    color-scheme: dark;

    &,
    .appearance-outline {
      --interactive-rest: var(--color-background-1);
      --interactive-hover: oklch(from var(--interactive-rest) calc(l * 0.8) c h);
      --interactive-pressed: oklch(from var(--interactive-rest) calc(l * 0.65) c h);
    }
    .appearance-primary {
      --interactive-rest: var(--color-brand-base);
      --interactive-hover: oklch(from var(--color-brand-base) calc(l * 0.85) c h);
      --interactive-pressed: oklch(from var(--color-brand-base) calc(l * 0.7) c h);
    }
    .appearance-subtle {
      --interactive-rest: var(--color-background-2);
    }
    .appearance-transparent {
      --interactive-rest: transparent;
    }
  }
}
