/* https://www.reddit.com/r/tailwindcss/comments/1jvi5ip/how_to_make_dark_mode_easier_in_tailwind_v4/ */
/* https://tailwindcss.com/docs/adding-custom-styles#adding-custom-variants */

@custom-variant light (:root, :host, .light, html:has(body.light));
@custom-variant dark (.dark, html:has(body.dark));

@custom-variant intent-info (&.intent-info, .intent-info);
@custom-variant intent-danger (&.intent-danger, .intent-danger );
@custom-variant intent-warning (&.intent-warning, .intent-warning );
@custom-variant intent-success (&.intent-success, .intent-success );
@custom-variant intent-brand (&.intent-brand, .intent-brand );
@custom-variant intent (
    &.intent-danger, .intent-danger,   
    &.intent-warning, .intent-warning, 
    &.intent-success, .intent-success, 
    &.intent-brand, .intent-brand
);
