/*! 
  Fluent.css - An LLM-friendly CSS framework
  Repo: https://github.com/aipx-proto/fluent-css 
  Demo: https://aipx-proto.github.io/fluent-css/
  CDN: https://esm.sh/gh/aipx-proto/fluent-css@main/build/fluent.css?raw
  LLMs.txt: https://esm.sh/gh/aipx-proto/fluent-css@main/llms.txt?raw
*/
@layer properties, theme, base, components, utilities;

/* @import "tailwindcss" source(none); */

/* @source "../index.html"; */

@import "./theme/variants.css";

@import "./font-face/font-segoe.css";

@import "./theme/color-palette.css";
@import "./theme/color-theme.css";


