/*! 
  Fluent.css - An LLM-friendly CSS framework
  Repo: https://github.com/aipx-proto/fluent-css 
  Demo: https://aipx-proto.github.io/fluent-css/
  CDN: https://esm.sh/gh/aipx-proto/fluent-css@main/build/fluent.css?raw
  LLMs.txt: https://esm.sh/gh/aipx-proto/fluent-css@main/llms.txt?raw
*/
@layer properties, theme, base, components, utilities;
@import "tailwindcss" source(none);
@import "./index.tailwind.css";
@import "./components/tabs-hack.css";
/* @source inline("shadow-{none,2xs,xs,sm,md,lg,xl,2xl}"); */
/* override inline the .shadow-* classes to avoid adding --tw-shadow-* in properties @layer*/
@import "./utilities/box-shadow.css" layer(utilities);
/* @source inline("font-{normal,semibold,bold}"); */
/* override inline the .font-{weight} classes to avoid adding --tw-font-weight in properties @layer*/
@import "./utilities/font-weight.css" layer(utilities);
@source inline("text-{xs,sm,md,base,lg,xl,2xl,3xl,4xl,5xl,6xl,7xl}");
@source inline("font-{sans,mono,serif,numeric}");
@source inline("{italic,not-italic}");
@source inline("{text,bg,border}-{card,panel,page,border,outline,muted,body,heading,link,brand,contrast-brand,input,selected,hover,active}");
@source inline("{text,bg,border}-{black,white}");
@source inline("rounded-{none,xs,sm,md,lg,xl,2xl,3xl,4xl,full}");
@source inline("opacity-disabled");
